
$backgroundColor: #fffbfa; // bigining pink light
$headerColor: #001424; // biarritz blue dark
$bodyColor: black;

$primaryColor: #004c86; // biarritz blue *
$secondaryColor: #669b76; // castle green *
$subColor: #f8c8b2; // bigining pink *

$rectColor: $primaryColor;
$glassColor: $subColor;
$liquidColor: $secondaryColor;

$titleColor: $headerColor;

$codeColor: #e0ebe3; // castle green light
$linkColor: $primaryColor;
$quoteTextColor: $headerColor;
$quoteBorderColor: $primaryColor;
$tableBorderColor: $headerColor;