$primaryColor: #3e3a3a; // steam black *
$secondaryColor: #e60012; // mondriaan red *
$subColor: #e6e5ef; // bright neptune *

$backgroundColor: #fcfcfd; // bright neptune light
$headerColor: $primaryColor;
$bodyColor: #1f1d1d; // steam black dark

$rectColor: $primaryColor;
$glassColor: $subColor;
$liquidColor: $secondaryColor;

$titleColor: $bodyColor;

$codeColor: $subColor;
$linkColor: #27243b; // bright neptune dark
$quoteTextColor: $headerColor;
$quoteBorderColor: #27243b; // bright neptune dark
$tableBorderColor: $headerColor;