
$backgroundColor: #f8f6f4; // twilight
$headerColor: #161514; // twilight dark
$bodyColor: black;

$primaryColor: #1f1e63; // nihonkai *
$secondaryColor: #a2a2ad; // sharp gray *
$subColor: #dcd5ca; // twilight gray *
// $accentsColor: #631f1e;

$rectColor: $primaryColor;
$glassColor: $subColor;
$liquidColor: $secondaryColor;

$titleColor: $headerColor;

$codeColor: $subColor;
$linkColor: $primaryColor;
$quoteTextColor: $headerColor;
$quoteBorderColor: $primaryColor;
$tableBorderColor: $headerColor;